{% extends 'blog/index-new.html' %}
{% block hero %} 
{% endblock hero%} 
{% block content %}
<div class="contact__header" style="text-align: center; margin: 20px 0px 20px 0px">
    <h1>Contact Me</h1>
    <p>I'll get back to you as soon as possible.</p>
</div>
<form action="" method="POST">
    {% csrf_token %}
    <div class="contact-form">
        <div class="form-container">{% for field in form %} {{ field }} {% endfor %}</div>
    </div>
    <div class="submit">
        <button type="submit" class="search__btn" id="form__submit">Submit</button>
    </div>
</form>
{% endblock content %} 
{% block navigation %} 
{% endblock navigation %} 