
<!-- write a welcome to the newsletter -->
<p>Hi there,</p>
<p>Thanks for signing up to keep in touch with Kelvin's Insights, from now on you will receive my latest articles in your inbox.
Please feel free to contact me if you have any questions or comments. You can reach me here on twitter, linkedin, github or telegram.
<br>
<a href="{{portfolio.linkdin}}">Linkedin</a>
<a href="{{portfolio.github}}">Github</a>
<a href="{{portfolio.telegram}}h">Instagram</a>
<a href="{{portfolio.twitter}}">Twitter</a>

<p>Goodluck.</p>